<!--
    action bar in breadcrumb
    https://coreui.io/docs/components/bootstrap/breadcrumb/
    https://getbootstrap.com/docs/4.0/utilities/position/
    see also styles.scss .c-subheader.sticky-top
-->
<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
    This is home page
</div>
<main class="c-main">

    <div class="container-fluid">
        <mat-card class="mat-elevation-z5" *ngFor="let item of [1]">
            
            <mat-card-content>
                <div class="flex-row">
                    <div class="temp">
                        
                            <div class="counter">345</div>
                            <div class="bottom">Total Orders </div>
                        
                    </div>

                    <div class="temp">
                        
                            <div class="counter">345</div>
                            <div class="bottom">Total Expenses </div>
                        
                    </div>

                    <div class="temp">
                        
                            <div class="counter">345</div>
                            <div class="bottom">Total Revenue </div>
                        
                    </div>
                    
                    <div class="temp">
                        
                            <div class="counter">345</div>
                            <div class="bottom">New Users</div>
                        
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
        
            <mat-card class="mat-elevation-z5" *ngFor="let post of posts">
                <div class="flex-row">
                 <div class="temp">
                  
                  <mat-card-content>
                    <img mat-card-image src="{{getImageUrlById(post.id)}}">
                    <button 
                    (click)="updatePost(post)"
                    class="btn btn-default btn-sm">Update</button>
                    {{ post.title }}
                    <button 
                    (click)="deletePost(post)"
                    class="btn btn-danger btn-sm pull-right">Delete</button>
                    
                    <p>
                        {{ post.body }}
                    </p>
                  </mat-card-content>
                </div>
                
            </div>
          </mat-card>
    </div>

</main>
