.outline {
    border-style: solid;
    border-width: medium;
}
mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  
    > div {
      flex: 50%;
      padding: 10px;
    }
  }
  
 div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
}

 .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }

  .temp {
    background: rgb(224, 227, 228);
    height: 50%;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: left;
}

.big-text {
    font-size: 30px;
}

.mat-card-image {
  padding: 10px;
  justify-content: baseline;
    margin: 10px;
    height: 150px;
    width: 250px;
}
.scrolling-wrapper{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .card{
    display: inline-block;
  }
}


.counter {
    font-weight:bold;
    position:absolute;  
    margin-bottom: 0;
}
.bottom {
    font-weight:bold;
    text-align:left;
    margin: 25px;
    margin-left: 0;
    margin-bottom: 0;
                            
}