<div #sidebar appSidebar>
</div>

<!--
    Main content leaving the div content class
    https://coreui.io/docs/layout/overview/
-->
<div class="c-wrapper">
  <!--
      https://coreui.io/docs/components/header/
  -->
  <header class="c-header c-header-light c-header-fixed c-header-shadow">    
    <button matRipple class="c-header-toggler" type="button" (click)="sidebar.toggle()">
      <span class="c-header-toggler-icon"></span>
    </button>

    <div class="c-header-brand group">
      <span class="">
        <button type="button" class="btn btn-info"> 
         <i class="fa fa-bell"></i>
        </button>
        <span class="badge badge-light">5</span>
      </span>
      <span class="">
        <button type="button" class="btn btn-info"> 
          <span class="">SA</span>
        </button>
      </span>
    </div>
    
  </header>

  <div class="c-body">
    <router-outlet></router-outlet>
  </div>
</div>
