<header class="c-header c-header-light px-3">
    <a class="c-header-brand" href="#">LOREM|<span class="fc">PSUM</span></a>
</header>
<ul class="c-sidebar-nav" data-color="red">
    <li class="c-sidebar-nav-title">Menu</li>
    <div class="c-sidebar-nav-divider"></div>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Home
        </a>
    </li>

    <li class="c-sidebar-nav-dropdown" >
        <a class="c-sidebar-nav-dropdown-toggle" matRipple appToggle>
            <i class="c-sidebar-nav-icon cil-user"></i> User
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" matRipple routerLink="users" >
                    <!-- simple line icon -->
                    <i class="c-sidebar-nav-icon icon-user"></i> User Info
                </a>
            </li>
            
           
        </ul>
    </li>
    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>
